In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("../data/number-of-deaths-by-risk-factor.csv")

In [18]:
data_cleaned = data.drop(['High cholesterol (deaths)'],axis=1)
data_cleaned = data_cleaned.dropna()
data_cleaned = data_cleaned.rename(columns = {data_cleaned.columns[0]: 'Country'})
data_cleaned.columns = data_cleaned.columns.str.strip().\
    str.lower().\
    str.replace(' ', '_').\
    str.replace(' ', '_'). \
    str.replace('(', '').str.replace(')', ''). \
    str.replace(r'_deaths','')

In [19]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5488 entries, 0 to 6467
Data columns (total 29 columns):
country                              5488 non-null object
code                                 5488 non-null object
year                                 5488 non-null int64
unsafe_water_source                  5488 non-null float64
poor_sanitation                      5488 non-null float64
no_access_to_handwashing_facility    5488 non-null float64
indoor_air_pollution                 5488 non-null float64
non-exclusive_breastfeeding          5488 non-null float64
discontinued_breastfeeding           5488 non-null float64
child_wasting                        5488 non-null float64
child_stunting                       5488 non-null float64
low_birth_weight                     5488 non-null float64
secondhand_smoke                     5488 non-null float64
alcohol_use                          5488 non-null float64
drug_use                             5488 non-null float64
diet_low_in_fruits                   5488 non-null float64
diet_low_in_vegetables               5488 non-null float64
unsafe_sex                           5488 non-null float64
low_physical_activity                5488 non-null float64
high_blood_sugar                     5488 non-null float64
obesity                              5488 non-null float64
high_blood_pressure                  5488 non-null float64
smoking                              5488 non-null float64
iron_deficiency                      5488 non-null float64
zinc_deficiency                      5488 non-null float64
vitamin-a_deficiency                 5488 non-null float64
low_bone_mineral_density             5488 non-null float64
air_pollution_outdoor_&_indoor       5488 non-null float64
outdoor_air_pollution                5488 non-null float64
dtypes: float64(26), int64(1), object(2)
memory usage: 1.3+ MB

In [19]:
data_cleaned.head()

,country,code,year,unsafe_water_source,poor_sanitation,no_access_to_handwashing_facility,indoor_air_pollution,non-exclusive_breastfeeding,discontinued_breastfeeding,child_wasting,...,high_blood_sugar,obesity,high_blood_pressure,smoking,iron_deficiency,zinc_deficiency,vitamin-a_deficiency,low_bone_mineral_density,air_pollution_outdoor_&_indoor,outdoor_air_pollution
0,Afghanistan,AFG,1990,7554.049543,5887.747628,5412.314513,22388.49723,3221.138842,156.097553,22778.84925,...,21610.06616,7701.581280,28183.98335,6393.667372,726.431294,501.020704,9344.131952,374.844056,26598.00673,4383.83
1,Afghanistan,AFG,1991,7359.676749,5732.770160,5287.891103,22128.75821,3150.559597,151.539851,22292.69111,...,21824.93804,7747.774903,28435.39751,6429.253320,739.245799,523.865919,9330.182378,379.854237,26379.53222,4426.36
2,Afghanistan,AFG,1992,7650.437822,5954.804987,5506.657363,22873.76879,3331.349048,156.609194,23102.19794,...,22418.69881,7991.018971,29173.61120,6561.054957,873.485341,557.567886,9769.844533,388.130434,27263.12791,4568.91
3,Afghanistan,AFG,1993,10270.731380,7986.736613,7104.620351,25599.75628,4477.006100,206.834451,27902.66996,...,23140.51117,8281.564408,30074.76091,6731.972560,1040.047422,676.375535,11433.769490,405.577931,30495.56150,5080.29
4,Afghanistan,AFG,1994,11409.177110,8863.010065,8051.515953,28013.16720,5102.622054,233.930571,32929.00593,...,23725.07008,8472.297780,30809.49117,6889.328118,1101.764645,858.483430,12936.955860,415.349195,33323.16140,5499.23

In [21]:
data_cleaned.to_csv('data/clean_number-of-deaths-by-risk-factor.csv',index = None)